.sign-up-left-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sign-up-left-heading {
    font-size: 90px;
    color: #3F5D57;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: -4.5px;
    line-height: 80%;
    width: 100%;
}

.sign-up-left-byline {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    margin-top: 25px;
    text-align: left;
    width: 100%;
    font-size: 18px;
}

.sign-up-left-phone {
    width: 50%;
    height: 500px; /* Fixed height for phone */
    border: 3px solid #1c1c1c;
    align-self: flex-start;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden; /* Prevent overflow outside phone */
}

.sign-up-left-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; /* Fixed header height */
    width: 100%;
    padding: 10px 8px;
    background-color: #333;
    color: white;
}

.search-bar {
    width: 60%;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    padding: 2px 8px;
    border-radius: 24px;
}

.phone-icon {
    height: 18px;
    width: 18px;
    color: #fff; /* White icons for contrast */
}

#lock-icon {
    height: 16px;
    width: 16px;
    font-weight: bold;
}

.sign-up-left-section {
    flex: 1; /* Take remaining space */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    background: #ebebeb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.broker-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
}

.broker-logo {
    height: 40px;
    width: 20%;
    object-fit: contain;
}

.broker-name {
    font-family: 'Montserrat', sans-serif;
    color: #1c1c1c;
    font-size: 17px;
    width: 70%;
}